:host {
    --primary: #3498db;
    --light: #f3f3f3;
    --border-color: rgb(206, 212, 218);
    --border-radius: 0.25em;
    --list-bg: #fff;
    --list-col: #333;
    --list-border: #d4d4d4;
    --list-active-col: #fff;
    --list-hover-bg: #e9e9e9;
    --list-hover-col: var(--list-col);
}

*,
::after,
::before {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #a6d7a8;
    outline: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-color: rgb(206, 212, 218);
    appearance: none;
    border-radius: var(--border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type=search] {
    padding-left: 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

/*** close btn ***/
.close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: var(--border-radius);
    opacity: 0.5;
}

.close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(132, 32, 41, 0.25);
    opacity: 1;
}

.close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

/*** display value ***/
.value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-top: 2px;
    padding: 1em;
}

.value :last-child {
    margin-left: 1em;
}

/*** autocomplete list ***/
.autocomplete {
    position: relative;
}

.autocomplete .items {
    position: absolute;
    border: 1px solid var(--border-color);
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 40vh;
    color: var(--list-col);
    background-color: var(--list-bg);
    border-radius: var(--border-radius);
    overflow: auto;
}

.autocomplete .items.top {
    bottom: calc(100% + 39px);
    top: unset;
}

.autocomplete .items .option {
    padding: 10px;
    cursor: pointer;
    background-color: var(--list-bg);
    border-bottom: 1px solid var(--list-border);
}

.autocomplete .items .option:last-child {
    border-bottom: none;
}

.autocomplete .items .option:hover {
    color: var(--list-hover-col);
    background-color: var(--list-hover-bg);
}

.autocomplete .active {
    background-color: var(--primary) !important;
    color: var(--list-active-col);
}

/*** Loader ***/
.load-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--list-bg);
}

.loader {
    border: 5px solid var(--light);
    border-top: 5px solid var(--primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 1em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
