@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../lib/material-design-icons/MaterialIcons-Regular.ttf)
        format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

/*===========================================================================
  align material icons vertical: https://stackoverflow.com/questions/56171473/different-material-icons-styles-do-not-align
  ===========================================================================*/
i.material-icons,
i.material-icons-outlined {
    vertical-align: middle;
    position: relative;
}
