@media print {
    /* hide browser navigation elements */
    header,
    footer {
        display: none;
    }

    .print {
        display: revert !important;
    }

    button,
    .no-print {
        display: none !important;
    }

    #print_h1 {
        display: block !important;
    }

    main a {
        color: inherit !important;
    }

    table {
        border-collapse: collapse;
        page-break-after: auto;
    }

    td,
    th,
    tbody {
        border: 1px solid black;
    }

    td,
    th {
        padding: 0.1em 0.25em;
        vertical-align: top;
    }

    .small-font {
        font-size: 0.8em;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    td {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    .comment {
        color: #000;
    }

    .border-bottom-0 {
        border-width: 0 !important;
    }
}
