/******** start general settings ********/
:root {
    --cc-primary: var(--bs-primary);
    --cc-green-dark: #3a8e3d;
    --cc-green-light: #6cbf6f;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}

.btn-sm.btn-quad {
    padding: 0.25rem;
}

/*** 24px + .5rem per button, 1rem td padding, .5rem space ***/
.btn-icon-1 {
    width: calc(24px + 1.5rem);
}

.btn-icon-2 {
    width: calc(48px + 2.5rem);
}

.btn-icon-3 {
    width: calc(72px + 3.5rem);
}

.table colgroup + thead {
    border-top: none !important;
}

ul.non-intended {
    margin-left: 0px;
    padding-left: 17px;
}

.tiny {
    font-size: 65%;
}

.hov-under:hover,
.hov-under:focus,
footer a:hover,
footer a:focus,
.alert-link:hover,
.alert-link:focus {
    text-decoration: underline;
}

.markdown p {
    margin: 0;
}

/*===========================================================================
  markdown preview
  ===========================================================================*/
.row .markdown-preview {
    overflow: auto;
    background-color: #f0f0f0;
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

input.with-markdown-preview {
    height: 100%;
}

/*** header and footer links ***/
header a,
footer a {
    text-decoration: none;
    color: inherit;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    color: inherit;
}

/******** end general settings ********/

/******** start header part ********/
/*** general part ***/

header nav ul {
    list-style-type: none;
    padding-left: 0;
}

header nav .nav-item {
    display: inline-flex;
    align-items: center;
}

/* "Logout" must be button for POST request but style like link */
header nav input[name="logout"]:hover,
header nav input[name="logout"] {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/*
 * stop Firefox adding 2px to the submit button's height
 * see https://stackoverflow.com/questions/12288175/firefox-adds-2px-padding-in-a-submit-button
 */
header nav input[name="logout"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}

header h1 {
    font-size: 2.5em;
}

/*** project nav ***/
#project_nav .nav-link:not(.disabled-import) {
    color: var(--bs-light);
}

.nav-link.disabled-import {
    color: #6c757d;
    user-select: none;
    cursor: pointer;
}

#project_nav a:hover,
#project_nav a:focus {
    color: var(--bs-primary);
}

/*** submenu nav ***/
#submenu_nav .nav-link:hover,
#submenu_nav .nav-link.active,
#submenu_nav .nav-link:focus {
    color: var(--bs-light) !important;
    background: var(--cc-green-dark);
}

/*** login logout section ***/
.login-logout-btn {
    background-color: transparent;
    border: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
    -moz-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
}

.login-logout-btn:active,
.login-logout-btn:hover,
.login-logout-btn:focus {
    color: var(--bs-light);
}

/******** end header part ********/

/******** start content part ********/
.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
    color: var(--bs-light);
}

.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: var(--bs-light);
    background-color: var(--bs-primary);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--bs-light);
}

.btn-outline-secondary:active,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
    color: var(--bs-light);
    background-color: var(--bs-secondary);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: var(--bs-light);
}

.anchor {
    opacity: 0;
    color: grey;
    margin-left: 10px;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

h3:hover > .anchor {
    opacity: 1;
}

.faq h3 p {
    display: inline;
}

abbr[title] {
    /* reset default Browser style with underline */
    border-bottom: none;
    text-decoration: none;
}

code {
    background-color: LightGray;
    border-radius: 0.25em;
    padding: 0.25em;
}

button.alert-link {
    background: transparent;
    border: none;
    padding: 0;
}

/* <li>s with checkbox inside should not have any bullet point */
li.checkbox {
    list-style-type: none;
}

form th {
    text-align: left;
}

table tr.sticky-top {
    background-color: var(--bs-body-bg);
    z-index: 1011;
}

table td input[type="checkbox"]:first-child:last-child {
    /* center single checkbox in table column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table td.right-align {
    text-align: right;
}

fieldset {
    border: 1px solid #333333;
}

legend {
    color: #4caf50;
    font-size: 1.5em;
}

fieldset > fieldset {
    margin: 1em 0 1em 0;
}

fieldset > fieldset > legend {
    font-size: 1em;
}

.cc-tooltip {
    cursor: pointer;
    display: inline-block;
}

.cc-tooltip:hover {
    box-shadow: 2px 2px 3px grey;
}

ul {
    overflow: hidden;
    /* fix position of bullet points at the side of floating blocks
                       * see https://stackoverflow.com/a/710264/498634 */
}

a.dark-link,
button.dark-link {
    color: var(--bs-light) !important;
}

a.dark-link:hover,
button.dark-link:hover {
    color: var(--bs-primary) !important;
}

.content-box {
    background-color: var(--bs-light);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.item-box {
    display: flex;
    background-color: var(--bs-primary);
    height: 56px;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
}

.item-box:hover {
    background-color: var(--cc-green-dark);
}

cc-autocomplete {
    --primary: var(--bs-primary);
    --light: var(--bs-light);

    --border-color: rgb(206, 212, 218);
    --border-radius: 0.25em;
    --list-bg: #dfdbdb;
    --list-col: #333;
    --list-border: #d4d4d4;
    --list-active-col: #fff;
    --list-hover-bg: #e9e9e9;
    --list-hover-col: var(--list-col);
}

.delete-by-project-edit-js {
    display: none;
}

.comment {
    color: DarkGrey;
    font-style: italic;
}

.article,
.extra-col {
    /* width: 100px; /* TODO how to make column minimal with without arbitrary fixed value? */
}

.extra-col button {
    font-weight: bold;
    padding: 1px;
}

.print {
    display: none;
}

/* Show/hide action buttons on hover/no hover */
.parent:hover .action-btn,
.purchase-list-table:hover .pl-form {
    visibility: visible;
}

.parent .action-btn,
.purchase-list-table .pl-form {
    visibility: hidden;
}

.unit-table:not(:nth-child(2)),
.purchase-list-table:not(:nth-child(2)) {
    border-width: 0;
}

.tt-disabled-btn {
    pointer-events: auto !important;
    cursor: default;
}

.purchase-list-table .selected {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

.editable .purchase-list-table tr:not(.rounding, .no-hover) {
    cursor: pointer;
}

.table-hover tbody .no-hover:hover * {
    --bs-table-accent-bg: transparent;
}

/******** footer part ********/
footer {
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0 auto;
    line-height: 1.5;
}

footer nav ul {
    list-style-type: none;
    float: left;
}

footer nav ul:first-child {
    padding-left: 10px;
}

footer nav h4 {
    margin: 0;
}

footer a[href] {
    color: inherit;
}

footer a[href]:hover {
    text-decoration: underline !important;
}

cc-autocomplete,
cc-ajax-autocomplete,
cc-multi-autocomplete {
    appearance: inherit !important;
}
