.pl-editor {
    min-width: 1150px;
}

.no-break-inside {
    break-inside: avoid;
}

@media print {
    .shop-section {
        color: #000 !important;
        font-weight: bold;
    }

    .pl-editor {
        min-width: unset;
    }

    th.amount-dish-servings-meal,
    td.amount-dish-servings-meal {
        border-right: none;
    }

    th.date,
    td.date {
        border-left: none;
    }

    td.amount-dish-servings-meal .dish,
    td.amount-dish-servings-meal .servings,
    td.amount-dish-servings-meal .meal {
        margin-left: 1em;
    }
}
